body {
  padding: 40px;
}
ul {
    margin: 20px;
    padding: 20px;
}
.main-title {
  width: 100%;
  text-align: center;
}
.footer {
  float: left;
  clear: both;
  width: 100%;
  height: 40px;
  margin-top: 50px;
}
/* your CSS starts here */
.quotes-image {
  width: 200px;
}

.quote {
 text-align: center; 
}
  
  .background-color {
   background: #a366ff
  }
